/* *{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  font-family: sans-serif;
  color:#626292;
  letter-spacing:1px;
}

.wrapper{
  box-shadow:1px 1px 10px grey;
  width:600px;
  background-color: #d8ebf7;
  border-radius:10px;
}

.header{
  background-color:#FFFACD;
  border: 20px solid rgb(102, 153, 255);
  padding:30px;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  box-shadow: 1px 1px 10px;
  box-shadow: inset 1px 1px 6px 0px black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

h1,
h2{
  font-family: 'Dancing Script', cursive;
  color:#626292;
}

h2{
  font-size:2em;
}

.list-name-focus{
  border:1px solid rgb(102, 153, 255);
  box-shadow: 0px 0px 4px 3px #f5202091;
}


/* p {
  color: #74bbb9;
  text-shadow: -1px 1px 0px #909090;
} */

main {
/*   border:3px solid red; */

}

.name-of-list-div{
  padding:30px;
  line-height: 35px;
  /* border-bottom:2px solid #7751771f; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-bottom: 8px;
  position: relative;
}



.list-div{
  /* margin-top: 20px; */
  /* padding: 30px; */
  padding-left: 30px;
  padding-top: 15px;
  margin-bottom: 20px;
}

input, button {
  padding: 4px;
  font-size: 1.0em;
}

button {
    background-color: rgb(102, 153, 255);
    border-radius: 6px;
    width: 100px;
    box-shadow: 1px 1px 1px lightgrey;
    color: white;
    cursor: pointer;
    opacity: .6;
    transition: ease .1s;
    text-shadow: -1px 0px 2px black;
    /* display: inline-block; */
}

button:hover{
  opacity:1;
}

button:focus {
  opacity:1;
}

.add-button{
  margin-left:4px;
}

.list-name {
    font-size: .92em;
    margin-top: 8px;
    padding: 6px;
    position: absolute;
    right: 32px;
    bottom: 33px;
}

.name-of-list-input{
  display:none;
}

/*
input[placeholder]{
  color:lightgray;
}
*/

/*
input {
  color:red;
}
*/


ol {
  margin-bottom:14px;
  line-height:25px;
}

ol li{/*   list-style:none; */border-bottom:1px solid #62629238;margin-right:30px;padding-top:10px;position: relative;}

/*added class with JS event listener*/

.button-change{
  background-color:#FEA6A6;
}

.remove-button,
.up-button,
.down-button {
    width:70px;
    font-size: .8em;
    position:absolute;
    bottom:3px;
}

.remove-button {
  background-color:#dc6868;
  right: -1px;
}

.up-button{
  background-color:#45b78e94;
  right: 140px;
}

.down-button{
  background-color:#7b80c3;;
  right: 69px;
} */
