*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}

body{
  font-family: sans-serif;
  color:#626292;
  letter-spacing:1px;
  font-size: 2.0rem;
  background-color: #218bfd24;
}

.header{
  background-color:#FFFACD;
  border: 20px solid rgb(102, 153, 255);
  padding: 77px;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  box-shadow: 1px 1px 10px;
  box-shadow: inset 1px 1px 6px 0px black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

h1,
h2{
  font-family: 'Dancing Script', cursive;
  color:#626292;
}

h1{
  border-bottom: 3px dashed #626292;
  font-size: 3.5em;
}

h2{
  font-size: 2.1em;
}

p {
  margin-top:18px;
}

.list-name-focus{
  border:1px solid rgb(102, 153, 255);
  box-shadow: 0px 0px 4px 3px #f5202091;
  height: 70px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-name-focus:focus{
  outline:none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.name-of-list-div{
  padding:30px;
  flex-direction: column;
  display: flex;
  align-items: center;
}



.list-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, button {
  margin-top: 30px;
  padding: 18px;
  width: 537px;
  font-size: 1.0em;
  opacity:1;
  outline:none;
  box-shadow: 0 0 10px #719ECE;
  box-shadow: inset 0px 1px 16px 0px #00000012;
}

button {
  background-color: rgb(102, 153, 255);
  border-radius: 19px;
  width: 534px;
  box-shadow: 1px 1px 1px lightgrey;
  color: white;
  cursor: pointer;
  opacity: .6;
  transition: ease .1s;
  text-shadow: -1px 0px 2px black;
  height: 73px;
}

button:hover{
  opacity:1;
}

button:focus {
  opacity:1;
  outline:none;
  box-shadow: 0 0 10px #719ECE;
}

.add-button{
  margin-bottom: 20px;
}

.list-name {
    margin-top: 8px;
    padding: 6px;
    opacity: .6;
    margin-top: 49px;
}

.name-of-list-input{
  display:none;
}

ol {
  margin-bottom: 49px;
  line-height:25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 974px;
  position: absolute;
  position: relative;
}

ol li{
    border-bottom: 1px solid #62629238;
    padding-top: 52px;
    padding-bottom: 10px;
    position: relative;
    width: 74%;
    dsiplay: block;
    margin-top: 46px;
    font-size: 2.5rem;
}

.button-change{
  background-color:#FEA6A6;
}

.remove-button,
.up-button,
.down-button {
    position:absolute;
    bottom: 14px;
    font-size: 29px;
    position: flex;
    width: 114px;
    padding: 0px;
}

.remove-button {
  background-color:#dc6868;
  right: -48px;
  font-size: 42px;
  text-shadow: 2px 1px 6px black;
}

.up-button{
  background-color:#45b78e94;
  right: 196px;
}

.down-button{
  background-color:#7b80c3;
  right: 74px;
}
